<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.EduQuestionMapper">
    
    <resultMap type="EduQuestion" id="EduQuestionResult">
        <result property="id"    column="id"    />
        <result property="teacherId"    column="teacher_id"    />
        <result property="type"    column="type"    />
        <result property="content"    column="content"    />
        <result property="options"    column="options"    />
        <result property="answer"    column="answer"    />
        <result property="analysis"    column="analysis"    />
        <result property="tags"    column="tags"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectEduQuestionVo">
        select id, teacher_id, type, content, options, answer, analysis, tags, create_by, create_time, update_by, update_time, remark from edu_question
    </sql>

    <select id="selectEduQuestionList" parameterType="EduQuestion" resultMap="EduQuestionResult">
        <include refid="selectEduQuestionVo"/>
        <where>  
            <if test="teacherId != null "> and teacher_id = #{teacherId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="content != null  and content != ''"> and content like concat('%', #{content}, '%')</if>
            <if test="tags != null  and tags != ''"> and tags like concat('%', #{tags}, '%')</if>
        </where>
    </select>
    
    <select id="selectEduQuestionById" parameterType="Long" resultMap="EduQuestionResult">
        <include refid="selectEduQuestionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEduQuestion" parameterType="EduQuestion" useGeneratedKeys="true" keyProperty="id">
        insert into edu_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teacherId != null">teacher_id,</if>
            <if test="type != null">type,</if>
            <if test="content != null">content,</if>
            <if test="options != null">options,</if>
            <if test="answer != null">answer,</if>
            <if test="analysis != null">analysis,</if>
            <if test="tags != null">tags,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teacherId != null">#{teacherId},</if>
            <if test="type != null">#{type},</if>
            <if test="content != null">#{content},</if>
            <if test="options != null">#{options},</if>
            <if test="answer != null">#{answer},</if>
            <if test="analysis != null">#{analysis},</if>
            <if test="tags != null">#{tags},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateEduQuestion" parameterType="EduQuestion">
        update edu_question
        <trim prefix="SET" suffixOverrides=",">
            <if test="teacherId != null">teacher_id = #{teacherId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="content != null">content = #{content},</if>
            <if test="options != null">options = #{options},</if>
            <if test="answer != null">answer = #{answer},</if>
            <if test="analysis != null">analysis = #{analysis},</if>
            <if test="tags != null">tags = #{tags},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
             <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEduQuestionById" parameterType="Long">
        delete from edu_question where id = #{id}
    </delete>

    <delete id="deleteEduQuestionByIds" parameterType="String">
        delete from edu_question where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
