<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.edu.mapper.EduVideoMapper">
    <resultMap type="com.ruoyi.edu.domain.EduVideo" id="EduVideoResult">
        <id property="videoId" column="video_id"/>
        <result property="chapterId" column="chapter_id"/>
        <result property="courseId" column="course_id"/>
        <result property="videoName" column="video_name"/>
        <result property="sort" column="sort"/>
    </resultMap>
    
    <select id="selectByChapterId" resultMap="EduVideoResult">
        SELECT * FROM edu_video WHERE chapter_id = #{chapterId} ORDER BY sort
    </select>

    <select id="selectByCourseId" resultMap="EduVideoResult">
        SELECT * FROM edu_video WHERE course_id = #{courseId} ORDER BY sort
    </select>
    
    <insert id="insert" parameterType="com.ruoyi.edu.domain.EduVideo" useGeneratedKeys="true" keyProperty="videoId">
        INSERT INTO edu_video(chapter_id, course_id, video_name, sort, create_time)
        VALUES(#{chapterId}, #{courseId}, #{videoName}, #{sort}, sysdate())
    </insert>

    <update id="update" parameterType="com.ruoyi.edu.domain.EduVideo">
        UPDATE edu_video
        <set>
            <if test="videoName != null">video_name = #{videoName},</if>
            <if test="sort != null">sort = #{sort},</if>
        </set>
        WHERE video_id = #{videoId}
    </update>

    <delete id="deleteById">
        DELETE FROM edu_video WHERE video_id = #{videoId}
    </delete>
</mapper>
